[submodule "user-management-service"]
	path = user-management-service
	url = https://github.com/bestprappy/User-Management-Service.git
[submodule "trip-planning-service"]
	path = trip-planning-service
	url = https://github.com/bestprappy/Trip-Planning-Service.git
